APP_NAME=BANK OF MARS
APP_HOST=localhost
APP_PORT=3333
APP_ROUTE_PREFIX=/api
# TOKEN
SECRET_TOKEN=32b2e6a470aacfb7473d98b0dc964b4a
EXPIRE_TOKEN=7d
#
# PostgreSQL DATABASE
#
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=warren-db-testing
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=root
TYPEORM_DATABASE=warren_db_testing


#
# PATH STRUCTRUE
#
TYPEORM_MIGRATIONS=src/database/migrations/**/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations
TYPEORM_ENTITIES=src/api/models/**/*.ts
TYPEORM_ENTITIES_DIR=src/api/models
CONTROLLERS=src/api/controllers/*Controller.ts
MIDDLEWARES=src/api/middlewares/**/*Middleware.ts
SUBSCRIBERS=src/api/subscribers/**/*Subscriber.ts
